#game-screen {
  width: 500px;
  height: 600px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
    /* background-image: cover;
  background: rgb(100, 200, 250); */
  background-image: url(/assets/skybackground.jpeg);
  animation: slide linear 30s infinite;
  width: 500px;
  height: 600px;
}

#top-block {
  width: 500px;
  height: 50px;
  background: rgb(68, 84, 106);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 9999;
}

#bottom-block {
  width: 500px;
  height: 50px;
  background: rgb(68, 84, 106);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 9998;
}

.score {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  align-items: center;
  color: white;
  display: flex;
  padding-right: 20px;
  padding-top: 5px;
  justify-content: flex-end;
}
#score-points {
  padding-left: 10px;
}

.screen-box {
  width: 400px;
  height: 400px;
  background: rgb(218, 227, 243);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  align-content: center;
}

.grid-item {
  text-align: center;
  align-self:center;
  padding-top: 5px;
  padding-bottom: 5px;
}

#wasd {
  width: 130px;
  height: 80px;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

#j-key {
  width: 40px;
  height: 40px;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  text-align: center;
}

#powerups-img {
  width: 127px;
  height: 53px;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  text-align: center;
}

h1 {
  font-size: 30;
  text-align: center;
  font-family: 'Calibri Light', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-style: normal;
  margin-top: 15px;
}
#instructions {
  display: show;
  position: relative;
}

#instructions h2 {
  /* padding-top: 20px; */
  font-size: 30;
  text-align: center;
  font-family: 'Calibri Light', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-style: normal;
  padding-right: 30px;
}

#game-over {
  display: none;
  position: relative;
  z-index: 999;
}

#game-over h2  {
  /* padding-top: 20px; */
  font-size: 30;
  text-align: center;
  font-family: 'Calibri Light', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-style: normal;
}

#you-win {
  display: none;
  position: relative;
  z-index: 9999;
}

#you-win h2  {
  /* padding-top: 20px; */
  font-size: 30;
  text-align: center;
  font-family: 'Calibri Light', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-style: normal;
}

button {
  background-color:rgb(47,85,151);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  /* border: 1px solid black; */
  border-radius: 4px;
  transition-duration: 0.1s;
}

button:hover {
  background-color:rgb(16,131,182);
}

button:active {
  background-color: rgb(16,131,182);
  transform: translateY(3px);
}

.score-board {
  margin-top: 100px;
}
.start-button {
  text-align: center;
  align-self:center;
  padding-top: 70px;
  padding-bottom: 5px;

}
.restart-button {
  text-align: center;
  align-self: center;
  margin-top: 100px;
  padding-bottom: 5px;

}
.explosion{
  background: url(/assets/single-explosion.png);
  background-image: cover;
}

.explosionBoss{
  background: url(/assets/single-explosion-boss.png);
  background-image: cover;
}

.player {
  background: url(/assets/player.png);
  animation: flash linear 0.5s;
  animation-iteration-count: 3;
  /* <map name="playerMap">
  <area shape="rect" coords="108,208,110,210" style="outline:none;"/>
  </map> */
}

@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
@keyframes slide{
  from {background-position: 0 0;}
  to {background-position: 0px 216px;}
}

.npc1{
  background: url(/assets/npc1.png);
  z-index: 100;
}

.npc2{
  background: url(/assets/npc2.png);
  z-index: 100;
}

.npcBoss {
  background: url(/assets/npcBoss.png);
  z-index: 100;
}

.npcBoss-low {
  background: url(/assets/npcBoss-low.png);
  z-index: 100;
}


/* #score-points {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
} */
